.myBtn{
  width: 90px;
  height: 50px;
  background-color: #ffe0a7;
  text-align: center;
  line-height: 50px;
  box-shadow: 3px 1px 17px 0px black;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 95px;
  user-select: none;
}

.myBtn:active{
box-shadow: none;
}


.myTextarea{
  width: 300px;
  height: 200px;
}
